{% extends "art/corey_base.html" %}
{% block content %}
    <article class="media content-section">
        <img class = "rounded-circle article-img" src="{{object.Artist.profile.image.url}}">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.Artist }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
            {% if object.Artist == user %}
            <div>
            <a class= "btnn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'post-update' object.id %}">Update</a>
            <a class= "btnn btn-danger btn-sm mt-1 mb-1" href = "{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <img class="article-image account-img" src="{{ post.image.url }}">
        <h2>Bids</h2>
        {% if not post.comments.all%}
            No Bids Yet ...<a href="{%url 'add_comment' post.pk %}">Place a bid</a>
            Add one</a>
        {% else %}
        <a href="{%url 'add_comment' post.pk %}">Place your bid</a>
                {% for comment in post.comments.all %}
                    <strong>
                        {{ comment.name }}
                        {{ comment.date_added}}
                        {{object.Artist}}
                    </strong>
                    <br/>
                    {{ comment.body }}
                    {% endfor %} 
        {% endif %}
        <br>
        <p class="article-content">Starting Bid ${{ object.starting_bid }}</p>
        <h3>How high can you go?</h3>
        <a href="{%url 'add_comment' post.pk %}">
        <br>
        <button type="submit">Bid now</button>
        </a>
        <!-- <ul>
            {% for message in messages %}
                <li>{{ message.sender }}: {{ message.content }}</li>
            {% endfor %}
        </ul>
        <form method="POST" action="" >
            {% csrf_token %}
            <input type="text" name="content" placeholder="Place your bid">
            <button type="submit">Send</button>
        </form> -->
        </div>
    </article>
{% endblock content %}
